In [ ]:
import pymongo
from pymongo import MongoClient

class School:
    def __init__(self, pname, prole):
        self.pname = pname
        self.prole = prole

    def checkwho(self):
        if self.prole == 'Teacher':
            print(f'as a Teacher {self.pname}')
        else:
            print(f'as a Student {self.pname}')

# MongoDB Setup: Replace the MongoDB URI with your own
client = MongoClient('mongodb://localhost:27017')  # If you're using a local MongoDB
db = client['school_database']  # MongoDB Database name
teacher_collection = db['teachers']  # MongoDB collection for teachers
student_collection = db['students']  # MongoDB collection for students

class Teacher(School):
    def __init__(self, tname, tsub):
        self.role = 'Teacher'
        super().__init__(tname, self.role)
        self.tname = tname
        self.tsub = tsub

    def teacher_display(self):
        return f'Teacher name is: {self.tname} teaches {self.tsub} '

    def insert_teacher(self):
        teacher_data = {
            'name': self.tname,
            'subject': self.tsub,
            'role': self.role,
            'pass_percent': self.pass_percent
        }
        teacher_collection.insert_one(teacher_data)  # Insert teacher record into MongoDB

    def update_teacher(self, teacher_name, new_subject):
        teacher_collection.update_one(
            {'name': teacher_name}, 
            {'$set': {'subject': new_subject}}
        )  # Update teacher subject

    def delete_teacher(self, teacher_name):
        teacher_collection.delete_one({'name': teacher_name})  # Delete teacher record

    def read_teacher(self, teacher_name):
        teacher = teacher_collection.find_one({'name': teacher_name})
        if teacher:
            return teacher
        return None
    


class Student(School):
    def __init__(self, name, marks):
        self.role = 'Student'
        super().__init__(name, self.role)
        self.marks = marks
        self.name = name

    def average(self):
        l = list(self.marks.values())
        avg = sum(l) // len(l)
        return avg

    def grade(self, avg):
        if avg > 90:
            return 'O'
        elif 70 < avg <= 90:
            return 'B'
        elif 50 < avg <= 70:
            return 'A'
        elif 35 < avg <= 50:
            return 'E'
        elif avg < 35:
            return 'F'

    def display(self):
        return f'{self.name} has scored {self.marks} and got {self.grade(self.average())}'

    def insert_student(self):
        student_data = {
            'name': self.name,
            'marks': self.marks,
            'role': self.role,
            'average': self.average(),
            'grade': self.grade(self.average())
        }
        student_collection.insert_many(student_data)  # Insert student record into MongoDB

    def update_student(self, student_name, new_marks):
        student_collection.update_one(
            {'name': student_name},
            {'$set': {'marks': new_marks, 'average': self.average(), 'grade': self.grade(self.average())}}
        )  # Update student marks

    def delete_student(self, student_name):
        student_collection.delete_one({'name': student_name})  # Delete student record

    def read_student(self, student_name):
        student = student_collection.find_one({'name': student_name})
        if student:
            return student
        return None

In [ ]:
# Insert Teacher Data
teacher_obj = Teacher('Mr. John', 'Math')
teacher_obj.insert_teacher()
# Read Teacher Data
print(teacher_obj.read_teacher('Mr. John'))

# Update Teacher Data
teacher_obj.update_teacher('Mr. John', 'Physics')

In [ ]:
# Delete Teacher Data
# teacher_obj.delete_teacher('Mr. John')

In [ ]:
# Insert Student Data
student_obj = Student('Alice', {'maths': 99, 'science': 89, 'social': 79, 'english': 69})
student_obj.insert_student()

# Read Student Data
print(student_obj.read_student('Alice'))

# Update Student Data
student_obj.update_student('Alice', {'maths': 90, 'science': 85, 'social': 80, 'english': 75})

In [4]:
student_obj.insert_student()
student_obj = Student('sam', {'maths': 89, 'science': 79, 'social': 69, 'english': 59})

In [ ]:
# Delete Student Data
# student_obj.delete_student('Alice')

In [5]:
def sample():
    return 'hai'
sample

In [10]:
#inheretence
class father():
    def display(self):
        print('selvam')

class daughter(father):
    def tdisplay(self):
        print('varshini')

class ddaughter(daughter):
    def sisdiplay(self):
        print('someone')


# obj1 = father()
# obj2 = daughter()
obj3 = ddaughter()


obj3.display()
obj3.tdisplay()
obj3.sisdiplay()

selvam
varshini
someone

In [12]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)


class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)


# x = Student("Mike", "Olsen")
y = Person("Mike", "Olsen")
y.printname()

Mike Olsen

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [13]:
class Car:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Drive!")

class Boat:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Sail!")

class Plane:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang")       #Create a Car object
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat object
plane1 = Plane("Boeing", "747")     #Create a Plane object

for x in (car1, boat1, plane1):
  x.move()

Drive!
Sail!
Fly!

In [2]:
l1 = [1,2,3]
l2 = [1,2,3]
print(l1+l2)

[1, 2, 3, 1, 2, 3]

In [6]:
class m():
    def __init__(self,x):
        self.x = x
    def __mul__(self,other,other2):
        return f'{self.x} x {other.x} x {other2.x} =  {self.x * other.x * other2.x}'
a = m(5)
b = m(10)
c= m(2)
print(a * b * c)

TypeError: m.__mul__() missing 1 required positional argument: 'other2'

In [3]:
import numpy as np

In [5]:
a = np.array([1,2,4])
a
type(a)

numpy.ndarray

In [4]:
def fact(a):
    if a == 1:
        return 1
    else:
        return a * fact(a - 1)

n = 5
print(fact(n))

120

In [6]:
# Using iter() with a list
my_list = [1, 2, 3]
my_iter = iter(my_list)

print(next(my_iter))  # Output: 1
print(next(my_iter))  # Output: 1

1
2

In [42]:
def generator():
    yield 1
    yield 2
    yield 3


gen =  iter(generator())
print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen,"ok"))

# for i in gen:
#     print(i)

1
2
3
ok

In [36]:
l=[1,2]
l2= [4,5,6]

l3 = map()

{1: 4, 2: 5}

In [45]:
print(eval("5+6"))

11

In [52]:
list1=['a','b','c','g',1,5]


print(list1.pop())

5

In [55]:
var=2

print(2==0.5)

False

In [58]:
print(ceil(3.0))

3

In [59]:
name='Hello, World!'
print(name[1:5])

ello

In [74]:
set1={5,6,0,True}
set2 = {5,6,8,9}
set3 = zip(set1,set2)
print(set(set3))

{(6, 6), (0, 8), (5, 5), (True, 9)}

In [78]:
def f1():
    n = 4

    s=n**4

    print(s)

f1()

256

In [79]:
n=4

def f1():
    global n

    n=n**4

    print(n)

f1()

256

In [81]:
def fun():
    n = 1
    def fun1():
        nonlocal n
        n = n + 1
        return n
    return fun1    
print(fun())

<function fun.<locals>.fun1 at 0x000002589B74F560>

In [86]:
import  datetime
    print(datetime.datetime.now())

IndentationError: unexpected indent (1901706338.py, line 2)

In [89]:
import csv

# Register a custom dialect
csv.register_dialect('custom', delimiter=';', quotechar="'", lineterminator='\n')

# Writing using the custom dialect
data = [["name", "age"], ["Alice", 30], ["Bob", 25]]
with open('data.csv', 'w', newline='') as file:
    writer = csv.writer(file, dialect='custom')
    writer.writerows(data)

In [90]:
try:
    x = 10 / 0 
except Exception as e:
    print(e)

division by zero